= render '/shared/form_errors_base', resource: f.object

= f.bootstrap_form_group :title do
  = f.bootstrap_control_label :title, class: "col-sm-3", required: true
  .col-sm-9
    = f.text_field :title, class: 'form-control'
    = f.bootstrap_error_message_on :title

= f.bootstrap_form_group :description do
  = f.bootstrap_control_label :description, class: "col-sm-3"
  .col-sm-9
    = f.text_area :description, class: 'form-control'
    = f.bootstrap_error_message_on :description

