.page-header
  %h1
    = "#{Todo.model_name.human}#{t('label.edit')}"

= form_for @todo, html: {class: 'form-horizontal'} do |f|
  = render partial: 'form', locals: {f: f}
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit class: 'btn btn-primary'

