.page-header
  %h1
    = "#{Todo.model_name.human}#{t('label.list')}"

    .pull-right
      = link_to t('label.new'), new_todo_url, class: 'btn btn-default'

- if @todos.count > 0
  %table.table.table-hover
    %thead
      %tr
        %th.col-md-1
        %th.col-md-8
        %th.col-md-3

    %tbody
      - @todos.each do |todo|
        %tr
          %td.text-center
            = link_to (todo.state == :done ? fa_icon('check-square-o 2x') : fa_icon('square-o 2x')), todo_url(todo, todo: {state: (todo.state == :done ? :none : :done)}, return_url: url_for(params)), method: :patch
          %td
            %strong
              = link_to todo.title, todo_url(todo)
            %br
            = truncate todo.description
          %td
            .pull-right
              = link_to t('label.edit'), edit_todo_url(todo), class: 'btn btn-default'
              = link_to t('label.destroy'), todo_url(todo), class: 'btn btn-danger', method: :delete, data: {confirm: t('label.destroy_confirm')}

  = paginate @todos, theme: 'bootstrap'

