.page-header
  %h1
    = link_to (@todo.state == :done ? fa_icon('check-square-o') : fa_icon('square-o')), todo_url(@todo, todo: {state: (@todo.state == :done ? :none : :done)}), method: :patch
    = @todo.title

    .pull-right
      = link_to t('label.edit'), edit_todo_url(@todo), class: 'btn btn-default'
      = link_to t('label.destroy'), todo_url(@todo), class: 'btn btn-danger', method: :delete, data: {confirm: t('label.destroy_confirm')}

%p
  = simple_format(h(@todo.description))
